<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="tokenSettings" type="Reception.App.Service.TokenSection, Reception.App.Service"/>
	</configSections>
	
	<appSettings>
		<add key="IsBoss" value="False"/>
		<!--<add key="IsBoss" value="True"/>-->
		<add key="ChatServerPath" value="https://localhost:44324/ChatHub"/>
		<add key="DataServerPath" value="https://localhost:44329"/>
		<add key="FileServerPath" value="https://localhost:44381"/>
		<add key="PingDelay" value="15"/>
		<add key="UserServerPath" value="https://localhost:44345"/>
		<add key="WelcomeMessage" value="Hello, boss! New person comes:"/>
		<add key="WithReconnect" value="True"/>
	</appSettings>

	<tokenSettings>
		<userId value=""/>
		<token value=""/>
	</tokenSettings>
</configuration>