<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tokenSettings" type="Reception.App.Service.TokenSection, Reception.App.Service"/>
  </configSections>
  
  <appSettings>
    <add key="IsBoss" value="False"/>
    <add key="Language" value="English"/>
    <add key="PingDelay" value="15"/>
  </appSettings>
  
  <tokenSettings userId="1" token="testTokenValue"/>
</configuration>