<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsBoss" value="False"/>
    <!--<add key="IsBoss" value="True"/>-->
    <add key="ChatServerPath" value="https://localhost:44324/ChatHub"/>
    <add key="DefaultImagePath" value="D:\Git\ReceptionNetCore\Reception.App\Images\Person.png"/>
    <add key="ServerPath" value="https://localhost:44329"/>
    <add key="PingDelay" value="15"/>
    <add key="WelcomeMessage" value="Hello, boss! New person comes:"/>
  </appSettings>
</configuration>